name: Build
on:
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install gettext libgtk2.0-dev

      - name: Set up Java 8
        run: |
          echo "JAVA_HOME=$JAVA_HOME_8_X64" >> "$GITHUB_ENV"
          echo "$JAVA_HOME_8_X64/bin" >> "$GITHUB_PATH"

      - name: Check out Classpath
        uses: actions/checkout@v4

      - name: Build GNU Classpath
        run: |
          ./autogen.sh
          ./configure \
            --disable-gconf-peer \
            --enable-default-preferences-peer=file \
            --disable-plugin \
            --disable-examples \
            --disable-tools \
            --disable-gjdoc
          make && sudo make install

      - name: Check out JamVM
        uses: actions/checkout@v4
        with:
          repository: ingelabs/jamvm
          path: jamvm

      - name: Build JamVM
        run: |
          cd jamvm
          NOCONFIGURE=1 ./autogen.sh
          ./configure
          make && sudo make install

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA=/usr/local/jamvm/bin/jamvm make check

  macos:
    runs-on: macos-15
    steps:
      - name: Install dependencies
        run: |
          brew install automake libtool texinfo
          echo "$(brew --prefix libtool)/libexec/gnubin" >> $GITHUB_PATH
          # Work around https://github.com/Homebrew/homebrew-core/issues/53192
          ln -sf "$(brew --prefix gettext)/share/gettext/m4/"*.m4 "$(aclocal --print-ac-dir)/"

      - name: Set up Java 8
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '8.0.482+8'
          check-latest: false

      - name: Check out Classpath
        uses: actions/checkout@v4

      - name: Build GNU Classpath
        run: |
          ./autogen.sh
          ./configure \
            --disable-gconf-peer \
            --enable-default-preferences-peer=file \
            --disable-gtk-peer \
            --disable-alsa \
            --disable-dssi \
            --disable-plugin \
            --disable-examples \
            --disable-tools \
            --disable-gjdoc
          make && sudo make install

      - name: Check out JamVM
        uses: actions/checkout@v4
        with:
          repository: ingelabs/jamvm
          path: jamvm

      - name: Build JamVM
        run: |
          cd jamvm
          NOCONFIGURE=1 ./autogen.sh
          ./configure
          make && sudo make install

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA=/usr/local/jamvm/bin/jamvm make check
