name: Build
on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install gettext libgtk2.0-dev

      - name: Set up Java 8
        run: |
          echo "JAVA_HOME=$JAVA_HOME_8_X64" >> "$GITHUB_ENV"
          echo "$JAVA_HOME_8_X64/bin" >> "$GITHUB_PATH"

      - name: Check out Classpath
        uses: actions/checkout@v4

      - name: Build GNU Classpath
        run: |
          ./autogen.sh
          ./configure \
            --disable-gconf-peer \
            --enable-default-preferences-peer=file \
            --disable-plugin \
            --disable-examples \
            --disable-tools \
            --disable-gjdoc
          make && sudo make install

      - name: Check out JamVM
        uses: actions/checkout@v4
        with:
          repository: ingelabs/jamvm
          path: jamvm

      - name: Build JamVM
        run: |
          cd jamvm
          NOCONFIGURE=1 ./autogen.sh
          ./configure
          make && sudo make install

      - name: Check out Malva
        uses: actions/checkout@v4
        with:
          repository: ingelabs/malva
          path: malva

      - name: Run tests
        run: |
          cd malva
          JAVA=/usr/local/jamvm/bin/jamvm make check
